@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 20px;
    transition: background 0.5s;
    font-size: medium;
    background: rgb(223, 223, 223);
    border: none;
}

.root {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header {
    align-self: center;
}

#logged_in {
    font-size: large;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#logged_in p {
    color: white;
    text-shadow: 0 0 10px white;
    font-weight: 700;
}
